.ads{
    display: flex;
    justify-content: space-around;
    height: 250px;
    flex-wrap: wrap;
}
.ads .item{
    width : 45%;
    height: 100%;
}
.ads .item a img{
    width: 100%;
    height: 100%;
}
@media (max-width:768px){
    .ads .item{
        margin-top : 20px;
        height: 150px;
        width: 90%;
    }
}