.about-us-container{
    width: 80%;
    background : #f5f5f5;
    margin : 0 auto;
    padding : 20px 0 ;
}
.about-us-container .info h1{
    text-align: center;
    line-height: 2;
    font-size : 2rem;
}
.about-us-container .info p{
    text-align: justify;
    padding : 10px ;
    box-sizing: border-box;
    line-height: 1.5;
}
.about-us-container .info a{
    display: block;
    margin : 0 auto;
    width: 70%;
}
.about-us-container .info a img{
    width: 100%;
}