.swiper-wrapper{
    width: 100%;
    height: 100vh;
}
.swiper-wrapper .slider-item{
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    background-position: center;
}
.swiper-button-next , .swiper-button-prev{
    color : #f2f2f2!important;
}
.swiper-pagination-bullet-active{
    background : #f2f2f2!important;
}